@model Docs.Models.ViewModels.DocumentViewModel

@{
    ViewData["Title"] = "Document";

    bool owner = Model.Member == null;
    bool canEdit = owner || Model.Member.Role.Edit;
}

<div class="docListPartName">@Model.Document.Name</div>
<div style="visibility: hidden" id="changesSavedText">Changes saved.</div>
<div>
    <textarea id="textArea"
              name="text"
              @if (canEdit) { <text> oninput="textChange()" </text> }
              @if (!canEdit) { <text> disabled</text> }>@Model.Document.Content</textarea>
</div>
<div id="onlineUsersList"></div>
@if (owner)
{
    <div>
        <a asp-action="DeleteDocument" asp-route-id="@Model.Document.Id">Delete</a>
    </div>
    <div>
        <a asp-action="Members" asp-route-id="@Model.Document.Id">Members</a>
    </div>
}
<div>
    @*<a href="@Url.Action("DownloadDocument", "Home")/@Model.Item1.Id" download>Download</a>*@
    <a asp-action="DownloadDocument" asp-route-id="@Model.Document.Id">Download</a>
</div>

@section Scripts{
    <script>
        let docId = @Model.Document.Id;
        let documentChangeUrl = "@Url.Action("DocumentChange", "Home")";
        @{
            string curUserName = Model.Member != null ? Model.Member.User.UserName : Model.Document.User.UserName;
        }
        let curUserName = "@curUserName";
    </script>
    <script src="~/js/Document.js"></script>
    @if (canEdit)
    {
    <text>
        <script src="~/js/DocumentEdit.js"></script>
    </text>
    }
}
