@{
    ViewData["Title"] = "Document";
}
@model Document

<div>
    <textarea id="text" name="text" style="width: 300px; height: 200px">@Model.Content</textarea>
</div>
<div>
    <a asp-action="DeleteDocument" asp-route-id="@Model.Id">Delete</a>
</div>
<div>
    <a asp-action="Members" asp-route-id="@Model.Id">Members</a>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            var textarea = $("#text");
            textarea.change(function () {
                $.ajax({
                    url: "@Url.Action("DocumentChange", "Home")",
                    type: "POST",
                    data: {
                        Content: textarea.val(),
                        Id: @Model.Id
                    }
                });
            });
        });
    </script>
}
