@model Docs.Models.ViewModels.DocumentViewModel

@{
    ViewData["Title"] = "Document";

    bool owner = Model.Member == null;
    bool canEdit = owner || Model.Member.Role.Edit;
}

<div class="docListPartName" style="margin: 5px 0 10px">
    <span id="docName">@Model.Document.Name</span>
    @if (canEdit)
    {<span class="glyphicon glyphicon-pencil" onclick="docNameChange()"></span>}
</div>

<ul id="navBar">
    <li class="navBarElem">
        <a asp-action="DownloadDocument" asp-route-id="@Model.Document.Id">Download</a>
    </li>
    @if (owner)
    {
        <li class="navBarElem">
            <a asp-action="Members" asp-route-id="@Model.Document.Id">Members</a>
        </li>
        <li class="navBarElem">
            <a asp-action="DeleteDocument" asp-route-id="@Model.Document.Id">Delete</a>
        </li>
    }
</ul>
<div style="visibility: hidden" id="changesSavedText">Changes saved.</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <textarea id="textArea"
                      name="text"
                      @if (!canEdit) { <text> disabled </text> }>@Model.Document.Content</textarea>
        </div>
        <div class="col-md-4" style="border-left: 2px solid gray;">
            <span style="font-size: 20px">Online members:</span>
            <div id="onlineUsersList" style="max-height: 320px; min-height: 320px; overflow: auto;"></div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let docId = @Model.Document.Id;
        let documentChangeUrl = "@Url.Action("DocumentChange", "Home")";
        let documentNameChangeUrl = "@Url.Action("DocumentNameChange", "Home")";
        @{
            string curUserName = Model.Member != null ? Model.Member.User.UserName : Model.Document.User.UserName;
        }
        let curUserName = "@curUserName";

        let textarea = $("#textArea");
    </script>
    <script src="~/js/Document.js"></script>
    @if (canEdit)
    {
        <text>
            <script src="~/js/DocumentEdit.js"></script>
            <script>
                textarea.on("input", textChange);
            </script>
        </text>
    }
}
