@{
    ViewData["Title"] = "Document";
}
@model Tuple<Document, DocumentMember>

@{
    bool owner = Model.Item2 == null;
    bool canEdit = owner || Model.Item2.Role.Edit;
}

<div class="docListPartName">@Model.Item1.Name</div>
<div>
    <textarea id="textArea"
              name="text"
              @if (canEdit) { <text> oninput="textChange()" </text> }
              @if (!canEdit) { <text> disabled</text> }
              >@Model.Item1.Content</textarea>
</div>
<div style="visibility: hidden" id="changingWarning"><span id="changingUser">user_name</span> is typing.</div>
@if (owner)
{
    <div>
        <a asp-action="DeleteDocument" asp-route-id="@Model.Item1.Id">Delete</a>
    </div>
    <div>
        <a asp-action="Members" asp-route-id="@Model.Item1.Id">Members</a>
    </div>
    <div>
        <a asp-action="DownloadDocument" asp-route-id="@Model.Item1.Id">Download</a>
    </div>
}
@section Scripts{
    <script>
        var textarea = $("#textArea");
        var getTextTimer;
        var getTextWaitTime = 1000;
    @if (canEdit)
    {
        <text>
        var isChanged = false;
        var changeWaitTime = 500;
        var changeTextTimer;

        function textChange() {
            if (!isChanged) {
                sendStartChange();
                //console.log("started changing");
            }
            clearTimeout(changeTextTimer);
            clearTimeout(getTextTimer);
            isChanged = true;
            changeTextTimer = setTimeout(
                function() {
                    isChanged = false;
                    sendText();
                    //console.log("changes saved");
                    setGetTextTimer();
                },
                changeWaitTime
            );
        }

        function sendStartChange() {
             $.ajax({
                url: "@Url.Action("DocumentStartChange", "Home")",
                type: "POST",
                data: {
                    id: @Model.Item1.Id
                }
            });
        }

        function sendText() {
            $.ajax({
                url: "@Url.Action("DocumentChange", "Home")",
                type: "POST",
                data: {
                    id: @Model.Item1.Id,
                    content: textarea.val()
                }
            });
        }
        </text>
    }

        $(function () {
            setGetTextTimer();
        });
        function setGetTextTimer() {
            getTextTimer = setInterval(getText, getTextWaitTime);
        }
        function getText() {
            $.ajax({
                url: '@Url.Action("GetDocumentInfo", "Home")',
                type: 'GET',
                data: { id: @Model.Item1.Id },
                success: function (data) {
                    if (data.changingUser != null) {
                        textarea.attr("disabled", true);
                        $("#changingWarning").css("visibility", "visible");
                        $("#changingUser").text(data.changingUser);
                    } else if("@canEdit" == "True") {
                        textarea.attr("disabled", false);
                        $("#changingWarning").css("visibility", "hidden");
                    }
                    textarea.val(data.content);
                    //console.log("new text received");
                }
            });
        }
    </script>
}
