@model Docs.Models.ViewModels.MembersViewModel

@{
    ViewData["Title"] = "Members";
}

<h2>Members</h2>

<div>
    <a asp-action="Document" asp-route-id="@Model.DocumentId">Back to document</a>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <label>User name</label>
        <input type="text" id="userName" class="form-control" />
        <label>Role</label>
        <select id="roleSelect" class="form-control" style="margin-bottom: 10px">
            @foreach (Role r in Model.Roles)
            {
                <option value="@r.Id">@r.Name</option>
            }
        </select>
        <input type="button" class="btn btn-default" onclick="addMember()" value="Add member" />
    </div>
</div>
<br />
<table class="table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody id="membersTable"></tbody>
</table>

@section Scripts{
    <script>
        let docId = @Model.DocumentId;
        let addMemberUrl = "@Url.Action("AddMember", "Home")";
        let deleteMemberUrl = "@Url.Action("DeleteMember", "Home")";
    </script>
    <script src="~/js/Members.js"></script>
    <script>
        $(function () {
            createMembersTable();
        });

        function createMembersTable() {
            @foreach (var member in Model.Members)
            {
                <text>
                addMemberRow({ userName: "@member.User.UserName", roleName: "@member.Role.Name" });
                </text>
            }
        }
        
    </script>
}
